body{
    background: #FAEBD7;
     font-family: 'Fraunces', serif;
    font-family: 'Merriweather', serif;
    text-align: center;
        
}

p {
    font-size: 14px;
}

#main-container {
    display: flex;
     justify-content: center;
    margin: 0 0 10px 40px;
}

.left-side img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-side{
    background:#fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.perfume {
    text-transform: uppercase;
}

.new-price {
    color:#3d8168;
}

.old-price {
    text-decoration: line-through;
}

.cart {
    background: #3d8168;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}
/* Media Query */
/* @media only screen and (max-width: ) */