body{
    background: #FAEBD7;
         font-family: 'Merriweather', serif;
    text-align: center;
        overflow: hidden;
}

p {
    font-size: 14px;
    }

#main-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
   line-break: normal;
}

    #left, #right {
        width: 450px;
        height: 450px;
    }

.left-side img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 450px;
    width: 450px;
}

.right-side{
    background:#fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-side h1, .new-price{
    font-family: 'Fraunces', serif;
}

.perfume {
    text-transform: uppercase;
    text-align: left;
    padding-left: 30px;
}

/* .product-desc {
    
} */

#pricing{
    display: flex;
    justify-content: center;
}

.new-price {
    color:#3d8168;
    font-weight: bold;
    margin-right: 15px;
    font-size: 35px;
    }

.old-price {
    text-decoration: line-through;
    margin-top: 50px;
   }


.cart {
    background: #3d8168;
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
}

.cart img {
    padding-right: 15px;
    margin-top: 1px;
    height: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 50px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}
/* Media Query */
/* @media only screen and (max-width: ) */